.header-search {
    /* background-color: #fff; */
    /* border-radius: 100px; */
    /* overflow: hidden; */
    display: flex;
}

.header-search input, .search-btn {
    border: 1px solid #44514b;
    background-color: #fff;
    padding: 8px 16px;
    outline: none;
}

.header-search input {
    width: 80%;
    border-right: none;
    border-radius: 100px 0 0 100px;
}

.search-btn {
    width: 20%;
    border-left: none;
    border-radius: 0 100px 100px 0;
    /* font-weight: 700; */
    color: #44514b;
    cursor: pointer;
}